{% extends "auctions/layout.html" %} {% block body %}
<h2>Create List</h2>
<div id="createlist_container" class="container">
  <form class="row" method="post">
    {% csrf_token %}
    <div id="title_div" class="col-6">
      <label for="inputEmail4" class="form-label">Title</label>
      <input type="text" class="form-control" name="title" />
    </div>
    <div id="description_div" class="col-12 ">
      <label for="description" class="form-label"
        >Description</label
      >
      <br />
      <textarea name="description" rows="5" cols="50"></textarea>
    </div>
    <div id="bid_div" class="col-4">
      <label for="bid">Starting Bid</label>
      
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input
          type="text"
          name="starting_bid"
          class="form-control"
          aria-label="Amount (to the nearest dollar)"
        />
      </div>
    </div>

    <div id="url_div" class="col-8">
      <label for="inputEmail4" class="form-label">URL</label>
      <input name="url" type="text" class="form-control" />
    </div>

    <div id="category_div" class="col-md-4">
      <label for="inputState" class="form-label">Category</label>
      <select
        name="category"
        id="inputState"
        class="form-select"
      >
        <option selected>Choose...</option>
        <option>Electronics</option>
        <option>Collectibles & Art</option>
        <option>Clothing & Accessories</option>
        <option>Home & Garden</option>
        <option>Jewelry & Watches</option>
        <option>Sporting Goods</option>
        <option>Motors</option>
        <option>Fashion</option>
        <option>Toys</option>
        <option>Other</option>
      </select>
    </div>

    <div id="button_div" class="col-12">
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </div>
  </form>
</div>

{% endblock %}
